<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Reqm</servlet-name>
        <servlet-class>war.Reqm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>war.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PFisicas</servlet-name>
        <servlet-class>war.PFisicas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Params</servlet-name>
        <servlet-class>war.Params</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PContactos</servlet-name>
        <servlet-class>war.PContactos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDocumentos</servlet-name>
        <servlet-class>war.PDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empleados</servlet-name>
        <servlet-class>war.Empleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anteproyectos</servlet-name>
        <servlet-class>war.Anteproyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proyectos</servlet-name>
        <servlet-class>war.Proyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requerimientos</servlet-name>
        <servlet-class>war.Requerimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>war.Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permisos</servlet-name>
        <servlet-class>war.Permisos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reqm</servlet-name>
        <url-pattern>/Reqm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PFisicas</servlet-name>
        <url-pattern>/PFisicas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Params</servlet-name>
        <url-pattern>/Params</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PContactos</servlet-name>
        <url-pattern>/PContactos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDocumentos</servlet-name>
        <url-pattern>/PDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empleados</servlet-name>
        <url-pattern>/Empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anteproyectos</servlet-name>
        <url-pattern>/Anteproyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proyectos</servlet-name>
        <url-pattern>/Proyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requerimientos</servlet-name>
        <url-pattern>/Requerimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/Roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permisos</servlet-name>
        <url-pattern>/Permisos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
</web-app>
