<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>
    <servlet>
        <servlet-name>Reqm</servlet-name>
        <servlet-class>war.Reqm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>war.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PFisicas</servlet-name>
        <servlet-class>war.PFisicas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Params</servlet-name>
        <servlet-class>war.Params</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PContactos</servlet-name>
        <servlet-class>war.PContactos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDocumentos</servlet-name>
        <servlet-class>war.PDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empleados</servlet-name>
        <servlet-class>war.Empleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anteproyectos</servlet-name>
        <servlet-class>war.Anteproyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proyectos</servlet-name>
        <servlet-class>war.Proyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requerimientos</servlet-name>
        <servlet-class>war.Requerimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>war.Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permisos</servlet-name>
        <servlet-class>war.Permisos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipos</servlet-name>
        <servlet-class>war.Equipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Integrantes</servlet-name>
        <servlet-class>war.Integrantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APDocumentos</servlet-name>
        <servlet-class>war.APDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PRDocumentos</servlet-name>
        <servlet-class>war.PRDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReqDocumentos</servlet-name>
        <servlet-class>war.ReqDocumentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>war.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Informes</servlet-name>
        <servlet-class>war.Informes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Observaciones</servlet-name>
        <servlet-class>war.Observaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispositivos</servlet-name>
        <servlet-class>war.monitor.Dispositivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Piezas</servlet-name>
        <servlet-class>war.monitor.Piezas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reqm</servlet-name>
        <url-pattern>/Reqm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PFisicas</servlet-name>
        <url-pattern>/PFisicas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Params</servlet-name>
        <url-pattern>/Params</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PContactos</servlet-name>
        <url-pattern>/PContactos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDocumentos</servlet-name>
        <url-pattern>/PDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empleados</servlet-name>
        <url-pattern>/Empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anteproyectos</servlet-name>
        <url-pattern>/Anteproyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proyectos</servlet-name>
        <url-pattern>/Proyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requerimientos</servlet-name>
        <url-pattern>/Requerimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/Roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permisos</servlet-name>
        <url-pattern>/Permisos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipos</servlet-name>
        <url-pattern>/Equipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Integrantes</servlet-name>
        <url-pattern>/Integrantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APDocumentos</servlet-name>
        <url-pattern>/APDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRDocumentos</servlet-name>
        <url-pattern>/PRDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqDocumentos</servlet-name>
        <url-pattern>/ReqDocumentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Informes</servlet-name>
        <url-pattern>/Informes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Observaciones</servlet-name>
        <url-pattern>/Observaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispositivos</servlet-name>
        <url-pattern>/Dispositivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Piezas</servlet-name>
        <url-pattern>/Piezas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
</web-app>
